.disabled {
    display: none;
} 

html {
    background-color: rgb(173, 220, 173);
}
body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    border: 2px groove teal;
    padding: 10px;
    margin-bottom: 10px;
}
table, th, td {
    border: 2px solid teal;
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: 75%;
    margin: auto;
}

th {
    background-color: lightgreen;
}

tr:nth-child(even) {
    background-color: lightgreen;
}

tr:nth-child(odd) {
    background-color: rgb(212, 239, 212);
}

form {
    display: inline-grid;
    width: 25%;
}

#playerA {
    margin-bottom: 5px;
}

#playerB {
    margin-top: 5px;
    margin-bottom: 5px;
}

#submitBtn {
    margin-top: 10px;
    margin-bottom: 5px;
}

#restartBtn {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}